.git
.svelte-kit
build
node_modules
.dockerigonre
.gitignore
README.md 
.env
backup
ucc.docker-compose.yml
ucc.Dockerfile
ucc.env.production
env_ucc_desa

desa.docker-compose.yml
desa.Dockerfile
desa.env.production

ucc.docker-compose.yml
ucc.Dockerfile
ucc.env.production