.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
backup
desa.docker-compose.yml
desa.Dockerfile
desa.env.production

ucc.docker-compose.yml
ucc.Dockerfile
ucc.env.production
